@charset "UTF-8";

@import "./util";

/* 字体库 */
/*@font-face {*/
/*	font-family: 'SourceHanSansOLD-Normal-2';     !* 这个名字可以自己定义 *!*/
/*	src:url('../font/SourceHanSansOLD-Normal-2/SourceHanSansOLD-Normal-2.eot'); !* IE9 Compat Modes *!      !*这里以及下面的src后面的地址填的都是自己本地的相对地址*!*/
/*	src: url('../font/SourceHanSansOLD-Normal-2/SourceHanSansOLD-Normal-2.eot?#iefix') format('embedded-opentype'), !* IE6-IE8 *!*/
/*        url('../font/SourceHanSansOLD-Normal-2/SourceHanSansOLD-Normal-2.woff') format('woff'), !* Modern Browsers *!*/
/*        url('../font/SourceHanSansOLD-Normal-2/SourceHanSansOLD-Normal-2.ttf')  format('truetype'), !* Safari, Android, iOS *!*/
/*        url('../font/SourceHanSansOLD-Normal-2/SourceHanSansOLD-Normal-2.svg#SourceHanSansOLD-Normal-2') format('svg'); !* Legacy iOS *!*/
/*        !*font-weight: bold;*!*/
/*        font-style: normal;*/
/*}*/

html{
  background-color: #fff;
  font-family: "Microsoft YaHei", serif;

  @include root-width();
}

header.index-header {
  position: relative;
  width: 100%;
  height: px2rem(72);
  line-height: px2rem(72);
  background-color: #eee;

  .header-logo {
    float: left;
    position: relative;
    width: px2rem(142);
    height: 100%;
    margin-left: px2rem(29);

    a {
      display: block;
      position: absolute;
      top: 50%;
      width: px2rem(142);
      height: px2rem(36);
      margin-top: px2rem(-18);
      background: url("../image/@3x/header_logo@3x.png") no-repeat;
      background-size: contain;
    }
    //img {
    //  display: block;
    //  position: absolute;
    //  top: 50%;
    //  margin-top: px2rem(18.5);
    //  width: px2rem(148);
    //  height: px2rem(37);
    //}
  }

  .visitors_panel {
    float: right;
    margin-right: px2rem(43);
    @include fixed-size(font-size, 25.33px);  //用此方式设置fonts-size

    .visitors {
      position: relative;
      color: #666;

      &:before {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: px2rem(-37);
        width: px2rem(28);
        height: px2rem(24);
        margin-top: px2rem(-12);
        background: url("../image/@3x/header_visitors_num@3x.png")  no-repeat;
        background-size: contain;
      }
      .visitors_num {
        color: #58afe8;
      }
    }
  } //end visitors_panel
} // end header



.common-tap {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: px2rem(98);
  background: #f9f9f9;

  .tap-list {
    width: 100%;
    height: inherit;

    .tap-item {
      float: left;
      position: relative;
      width: 33.333333%;
      height: inherit;

      a {
        display: block;
        width: 100%;
        height: 100%;

        .tap-phone {
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          width: px2rem(45);
          height: px2rem(45);
          margin-left: px2rem(-22.5);
          margin-top: px2rem(-22.5);
          background: url("../image/@3x/tap_phone_l@3x.png") no-repeat;
          background-size: contain;

          &.active {
            background: url("../image/@3x/tap_phone_r@3x.png") no-repeat;
            background-size: contain;
          }
        }
        .tap-i {
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          width: px2rem(45);
          height: px2rem(45);
          margin-left: px2rem(-22.5);
          margin-top: px2rem(-22.5);
          background: url("../image/@3x/tap_i_l@3x.png") no-repeat;
          background-size: contain;

          &.active {
            background: url("../image/@3x/tap_i_r@3x.png") no-repeat;
            background-size: contain;
          }
        }
        .tap-person {
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          width: px2rem(39);
          height: px2rem(45);
          margin-left: px2rem(-19.5);
          margin-top: px2rem(-22.5);
          background: url("../image/@3x/tap_person_l@3x.png") no-repeat;
          background-size: contain;

          &.active {
            background: url("../image/@3x/tap_person_r@3x.png") no-repeat;
            background-size: contain;
          }
        }
      }

    }
  }
}



