@charset "UTF-8";

@import "./util";

.container_1 {
  margin-bottom: px2rem(48);
  //background-color: #fff;

  .banner {
    position: relative;
    margin-bottom: px2rem(44);
    height: px2rem(301);
    background: linear-gradient(to left, #4799f1, #5ecbc1);

    .banner-list {
      float: left;
      width: 100%;
      height: 100%;
      overflow: hidden;

      .banner-item {
        display: none;
        height: 100%;

        hgroup {
          padding-top: px2rem(88);
          padding-left: px2rem(40);
          h2 {
            @include font-size(31.33px);
            color: #d6eeef;
          }
          h1 {
            @include font-size(51.47px);
            color: #fff;
          }
          h3 {
            @include font-size(21.33px);
            color: #e4f3f6;
          }
        }

      }
      .banner-item.active {
        display: block;
      }
    }

  } // end  banner

  nav {
    position: relative;
    margin-bottom: px2rem(40);

    .nav-list {
      margin: 0 px2rem(40);
      @include font-size(26.67px);
      //color: #666;

      .nav-item{
        float: left;
        //margin-right: px2rem(90);
        //width: px2rem(89);
        width: 25%;
        height: px2rem(138);
        text-align: center;

        a {
          display: block;
          position: relative;
          width: 100%;
          height: 100%;
          //width: px2rem(89);

          &:hover {
            color: #666;
          }
          &:link {
            color: #666;
          }
        }

        .nav-item-text {
          position: absolute;
          bottom: 0;
          left: 50%;
          -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          transform: translateX(-50%);
        }

        .icon {
          display: block;
          position: absolute;
          left: 50%;
          width: px2rem(89);
          height: px2rem(89);
          margin-left: px2rem(-44.5);
          margin-bottom: px2rem(23);
          border-radius: 50%;
          line-height: px2rem(89);

          &.icon-oil {
            background: linear-gradient(to left, #5f9fff, #5e9efe);

            .icon_1 {
              display: block;
              position: absolute;
              left: 50%;
              top: 50%;
              width: px2rem(36);
              height: px2rem(47);
              margin-top: px2rem(-23.5);
              margin-left: px2rem(-18);
              background: url("../image/@3x/nav_oil@3x.png") no-repeat;
              background-size: contain;
            }
          }
          &.icon-member {
            background: linear-gradient(to left, #fe7f60, #fe7551);

            .icon_2 {
              display: block;
              position: absolute;
              left: 50%;
              top: 50%;
              width: px2rem(67);
              height: px2rem(44);
              margin-top: px2rem(-22);
              margin-left: px2rem(-33.5);
              background: url("../image/@3x/nav_member@3x.png") no-repeat;
              background-size: contain;
            }
          }
          &.icon-jd {
            background: linear-gradient(to left, #f66c76, #f76a75);

            .icon_3 {
              display: block;
              position: absolute;
              left: 50%;
              top: 50%;
              width: px2rem(57);
              height: px2rem(35);
              margin-top: px2rem(-17.5);
              margin-left: px2rem(-28.5);
              background: url("../image/@3x/nav_jd@3x.png") no-repeat;
              background-size: contain;
            }
          }
          &.icon-taobao {
            background: linear-gradient(to left, #ffb55e, #ffad4d);

            .icon_4 {
              display: block;
              position: absolute;
              left: 50%;
              top: 50%;
              width: px2rem(47);
              height: px2rem(36);
              margin-top: px2rem(-18);
              margin-left: px2rem(-23.5);
              background: url("../image/@3x/nav_taobao@3x.png") no-repeat;
              background-size: contain;
            }
          }
        }
      }
      .nav-item:last-child {
        margin-right: 0;
      }
    }
  } //end nav

  .notice {
    position: relative;
    height: px2rem(97);
    margin: 0 px2rem(22);
    //margin-bottom: px2rem(72);
    line-height: px2rem(97);
    color: #9b7300;
    background: #f2dfa9;

    .notice-icon {
      position: absolute;
      top: 50%;
      width: px2rem(52);
      height: px2rem(48);
      margin-left: px2rem(35);
      margin-top: px2rem(-24);
      background: url("../image/@3x/notice@3x.png") no-repeat;
      background-size: contain;
    }
    .notice-text {
      float: left;
      position: relative;
      margin-left: px2rem(114);
      @include font-size(29.33px)
    }
    .notice-arrow {
      float: right;
      width: px2rem(150);
      height: 100%;
      margin-right: px2rem(18);
      vertical-align: middle;
      @include  font-size(25.33px);

      a {
        display: block;
        height: 100%;

        &:link {
          color: inherit;
        }
        &:link {
          color: inherit;
        }
      }

      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        width: px2rem(24);
        height: px2rem(24);
        margin-top: px2rem(-12);
        margin-left: px2rem(122);
        background: url("../image/@3x/notice_arrow@3x.png") no-repeat;
        background-size: contain;
      }
    }
  } // end notice

} // end container_1

.separate {
  width: 100%;
  height: px2rem(4);
  background-color: #eee;
}

.container_2 {

  header {
    display: block;
    height: px2rem(95);
    margin-left: px2rem(50);
    line-height: px2rem(95);

    h1 {
      float: left;
      position: relative;
      margin-right: px2rem(32);
      @include font-size(29.33px);
      color: #222;

      &:before {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: px2rem(-20);
        width: px2rem(7);
        height: px2rem(32);
        margin-top: px2rem(-16);
        background-color: #febf08;
      }
    }

    p {
      float: left;
      @include font-size(17.33px);
      color: #999;
    }
  } // end header

  .recommend {
    margin-left: px2rem(22);

    .wrap-l {
      float: left;
      width: px2rem(327);
      height: px2rem(327);
      margin-right: px2rem(23);
      background: url("../image/@3x/recommend_exchange@3x.png") no-repeat;
      background-size: contain;

      .text {
        margin: px2rem(82) 0 0 px2rem(35);
        @include font-size(36.37px);
        font-weight: 700;

        span {
          &.text_l {
            color: #fe9c1d;
          }
          &.text_r {
            color: #666;
          }
        }
      }
    }
    .wrap-r {
      float: left;
      width: px2rem(327);

      .content {
        display: block;
        width: px2rem(327);
        height: px2rem(155);
        overflow: hidden;

        &.content-top {
          margin-bottom: px2rem(19);
          background: url("../image/@3x/recommend_location@3x.png") no-repeat;
          background-size: contain;
        }
        &.content-bottom {
          background: url("../image/@3x/recommend_today_price@3x.png") no-repeat;
          background-size: contain;
        }
      }

      .text {
        margin: px2rem(44) 0 0 px2rem(20);
        @include font-size(25.33px);
        color: #000;
      }
    }
  }
} // end container_2