@charset "UTF-8";
/* 移动端页面设计稿宽度 */
/* 移动端页面设计稿dpr基准值 */
/* 将移动端页面分为10块 */
/* 缩放所支持的设备最小宽度 */
/* 缩放所支持的设备最大宽度 */
/*
    rem与px对应关系，1rem代表在JS中设置的html font-size值（为一块的宽度），$rem即为$px对应占多少块

        $px                    $rem
    -------------    ===    ------------
    $design-width              $blocks
*/
/* 单位px转化为rem */
/* 单位rem转化为px，可用于根据rem单位快速计算原px */
/* html根的宽度定义 */
/* 设置容器拉伸的最小宽度 */
/* 设置容器拉伸的最大宽度 */
/* 固定值大小，不使用rem单位， 根据dpr值分段调整 */
/**
  display:flex兼容性存在多方的问题，针对该问题，编写以下的@mixin，可能不够完整
 */
.banner {
  position: relative;
  margin-top: 2.3474722222rem;
  margin-bottom: 0.2777777778rem;
  padding: 0 0.32rem; }
  .banner .swiper-container {
    width: 100%;
    height: 2.9331666667rem;
    border-radius: 0.2777777778rem; }
    .banner .swiper-container .swiper-pagination {
      display: -webkit-box;
      /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
      display: -moz-box;
      /* Firefox 17- */
      display: -webkit-flex;
      /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
      display: -moz-flex;
      /* Firefox 18+ */
      display: -ms-flexbox;
      /* IE 10 */
      display: flex;
      /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */
      /* 使用flex布局兼容性@mixin */
      position: absolute;
      align-items: center;
      left: 50%;
      bottom: 0;
      width: auto;
      padding: 0 0.2777777778rem;
      border-radius: 0.2777777778rem;
      background: rgba(0, 0, 0, 0.5);
      transform: translateX(-50%); }
      .banner .swiper-container .swiper-pagination.swiper-pagination-bullets {
        height: 0.2777777778rem;
        bottom: 0.0694444444rem; }
    .banner .swiper-container .swiper-pagination-bullet {
      width: 0.1388888889rem;
      height: 0.1388888889rem;
      opacity: 1;
      background: #fff; }
    .banner .swiper-container .swiper-pagination-bullet-active {
      background: #dd698c; }
    .banner .swiper-container img {
      width: 100%;
      height: 100%; }

.content-list {
  display: -webkit-box;
  /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
  display: -moz-box;
  /* Firefox 17- */
  display: -webkit-flex;
  /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
  display: -moz-flex;
  /* Firefox 18+ */
  display: -ms-flexbox;
  /* IE 10 */
  display: flex;
  /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */
  /* 使用flex布局兼容性@mixin */
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 0.32rem; }
  .content-list .cotent-panel {
    width: 48%;
    margin-bottom: 0.3472222222rem;
    border-radius: 0.2083333333rem;
    overflow: hidden; }
    .content-list .cotent-panel .cotent-item {
      display: block;
      width: 4.5219722222rem; }
      .content-list .cotent-panel .cotent-item .content-t {
        display: -webkit-box;
        /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
        display: -moz-box;
        /* Firefox 17- */
        display: -webkit-flex;
        /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
        display: -moz-flex;
        /* Firefox 18+ */
        display: -ms-flexbox;
        /* IE 10 */
        display: flex;
        /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */
        /* 使用flex布局兼容性@mixin */
        position: relative;
        justify-content: center;
        width: 100%;
        height: 2.8246666667rem;
        margin-bottom: 0.0694444444rem;
        border-radius: 1.6666666667rem; }
        .content-list .cotent-panel .cotent-item .content-t .content-img {
          width: 100%;
          height: 100%; }
      .content-list .cotent-panel .cotent-item .content-detail {
        display: -webkit-box;
        /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
        display: -moz-box;
        /* Firefox 17- */
        display: -webkit-flex;
        /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
        display: -moz-flex;
        /* Firefox 18+ */
        display: -ms-flexbox;
        /* IE 10 */
        display: flex;
        /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */
        /* 使用flex布局兼容性@mixin */
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        justify-content: space-around;
        font-size: 0.3333333333rem;
        color: #fff;
        background: rgba(0, 0, 0, 0.5); }
        .content-list .cotent-panel .cotent-item .content-detail .views {
          width: 0.4266666667rem;
          height: 0.4266666667rem;
          background: url("../svg/video.svg") no-repeat;
          background-size: cover; }
        .content-list .cotent-panel .cotent-item .content-detail .comments {
          width: 0.4266666667rem;
          height: 0.4266666667rem;
          background: url("../svg/stats.svg") no-repeat;
          background-size: cover; }
        .content-list .cotent-panel .cotent-item .content-detail .text {
          width: 0;
          -webkit-box-flex: 1;
          -ms-flex: 1;
          -webkit-flex: 1;
          flex: 1; }
      .content-list .cotent-panel .cotent-item .content-b .content-title {
        font-size: 0.3472222222rem;
        color: #212121; }

/*# sourceMappingURL=index.css.map */
