@charset "UTF-8";
/* 移动端页面设计稿宽度 */
/* 移动端页面设计稿dpr基准值 */
/* 将移动端页面分为10块 */
/* 缩放所支持的设备最小宽度 */
/* 缩放所支持的设备最大宽度 */
/*
    rem与px对应关系，1rem代表在JS中设置的html font-size值（为一块的宽度），$rem即为$px对应占多少块

        $px                    $rem
    -------------    ===    ------------
    $design-width              $blocks
*/
/* 单位px转化为rem */
/* 单位rem转化为px，可用于根据rem单位快速计算原px */
/* html根的宽度定义 */
/* 设置容器拉伸的最小宽度 */
/* 设置容器拉伸的最大宽度 */
/* 固定值大小，不使用rem单位， 根据dpr值分段调整 */
/**
  display:flex兼容性存在多方的问题，针对该问题，编写以下的@mixin，可能不够完整
 */
.main-content {
  position: relative;
  width: 100%; }
  .main-content .login-panel {
    display: -webkit-box;
    /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
    display: -moz-box;
    /* Firefox 17- */
    display: -webkit-flex;
    /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
    display: -moz-flex;
    /* Firefox 18+ */
    display: -ms-flexbox;
    /* IE 10 */
    display: flex;
    /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    height: 43px;
    padding: 0 0.4166666667rem;
    color: #555;
    font-size: 15px;
    border-bottom: 1px solid #e8e8e8; }
    [data-dpr="2"] .main-content .login-panel {
      height: 86px; }
    [data-dpr="2.5"] .main-content .login-panel {
      height: 107.5px; }
    [data-dpr="2.75"] .main-content .login-panel {
      height: 118.25px; }
    [data-dpr="3"] .main-content .login-panel {
      height: 129px; }
    [data-dpr="4"] .main-content .login-panel {
      height: 172px; }
    [data-dpr="2"] .main-content .login-panel {
      font-size: 30px; }
    [data-dpr="2.5"] .main-content .login-panel {
      font-size: 37.5px; }
    [data-dpr="2.75"] .main-content .login-panel {
      font-size: 41.25px; }
    [data-dpr="3"] .main-content .login-panel {
      font-size: 45px; }
    [data-dpr="4"] .main-content .login-panel {
      font-size: 60px; }
    .main-content .login-panel > .content-r {
      display: block;
      height: 30px;
      padding-left: 0.5555555556rem;
      padding-right: 0.5555555556rem;
      line-height: 30px;
      border-radius: 50px;
      background-color: #f5f5f5; }
      [data-dpr="2"] .main-content .login-panel > .content-r {
        height: 60px; }
      [data-dpr="2.5"] .main-content .login-panel > .content-r {
        height: 75px; }
      [data-dpr="2.75"] .main-content .login-panel > .content-r {
        height: 82.5px; }
      [data-dpr="3"] .main-content .login-panel > .content-r {
        height: 90px; }
      [data-dpr="4"] .main-content .login-panel > .content-r {
        height: 120px; }
      [data-dpr="2"] .main-content .login-panel > .content-r {
        line-height: 60px; }
      [data-dpr="2.5"] .main-content .login-panel > .content-r {
        line-height: 75px; }
      [data-dpr="2.75"] .main-content .login-panel > .content-r {
        line-height: 82.5px; }
      [data-dpr="3"] .main-content .login-panel > .content-r {
        line-height: 90px; }
      [data-dpr="4"] .main-content .login-panel > .content-r {
        line-height: 120px; }
      .main-content .login-panel > .content-r:link {
        color: #00b38a; }
      .main-content .login-panel > .content-r:hover {
        color: #00b38a; }
  .main-content .content-wrap {
    display: -webkit-box;
    /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
    display: -moz-box;
    /* Firefox 17- */
    display: -webkit-flex;
    /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
    display: -moz-flex;
    /* Firefox 18+ */
    display: -ms-flexbox;
    /* IE 10 */
    display: flex;
    /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    flex-wrap: wrap; }
    .main-content .content-wrap > .content-item {
      display: -webkit-box;
      /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
      display: -moz-box;
      /* Firefox 17- */
      display: -webkit-flex;
      /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
      display: -moz-flex;
      /* Firefox 18+ */
      display: -ms-flexbox;
      /* IE 10 */
      display: flex;
      /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      width: 100%;
      height: auto;
      padding: 14px;
      border-bottom: 1px solid #e8e8e8; }
      [data-dpr="2"] .main-content .content-wrap > .content-item {
        padding: 28px; }
      [data-dpr="2.5"] .main-content .content-wrap > .content-item {
        padding: 35px; }
      [data-dpr="2.75"] .main-content .content-wrap > .content-item {
        padding: 38.5px; }
      [data-dpr="3"] .main-content .content-wrap > .content-item {
        padding: 42px; }
      [data-dpr="4"] .main-content .content-wrap > .content-item {
        padding: 56px; }
      .main-content .content-wrap > .content-item > .content-l {
        width: 60px;
        height: 60px;
        margin-right: 10px;
        font-size: 0; }
        [data-dpr="2"] .main-content .content-wrap > .content-item > .content-l {
          width: 120px; }
        [data-dpr="2.5"] .main-content .content-wrap > .content-item > .content-l {
          width: 150px; }
        [data-dpr="2.75"] .main-content .content-wrap > .content-item > .content-l {
          width: 165px; }
        [data-dpr="3"] .main-content .content-wrap > .content-item > .content-l {
          width: 180px; }
        [data-dpr="4"] .main-content .content-wrap > .content-item > .content-l {
          width: 240px; }
        [data-dpr="2"] .main-content .content-wrap > .content-item > .content-l {
          height: 120px; }
        [data-dpr="2.5"] .main-content .content-wrap > .content-item > .content-l {
          height: 150px; }
        [data-dpr="2.75"] .main-content .content-wrap > .content-item > .content-l {
          height: 165px; }
        [data-dpr="3"] .main-content .content-wrap > .content-item > .content-l {
          height: 180px; }
        [data-dpr="4"] .main-content .content-wrap > .content-item > .content-l {
          height: 240px; }
        [data-dpr="2"] .main-content .content-wrap > .content-item > .content-l {
          margin-right: 20px; }
        [data-dpr="2.5"] .main-content .content-wrap > .content-item > .content-l {
          margin-right: 25px; }
        [data-dpr="2.75"] .main-content .content-wrap > .content-item > .content-l {
          margin-right: 27.5px; }
        [data-dpr="3"] .main-content .content-wrap > .content-item > .content-l {
          margin-right: 30px; }
        [data-dpr="4"] .main-content .content-wrap > .content-item > .content-l {
          margin-right: 40px; }
        .main-content .content-wrap > .content-item > .content-l img {
          width: inherit;
          height: auto; }
      .main-content .content-wrap > .content-item > .content-r {
        width: 0;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        -webkit-flex: 1;
        flex: 1;
        line-height: 23px; }
        [data-dpr="2"] .main-content .content-wrap > .content-item > .content-r {
          line-height: 46px; }
        [data-dpr="2.5"] .main-content .content-wrap > .content-item > .content-r {
          line-height: 57.5px; }
        [data-dpr="2.75"] .main-content .content-wrap > .content-item > .content-r {
          line-height: 63.25px; }
        [data-dpr="3"] .main-content .content-wrap > .content-item > .content-r {
          line-height: 69px; }
        [data-dpr="4"] .main-content .content-wrap > .content-item > .content-r {
          line-height: 92px; }
        .main-content .content-wrap > .content-item > .content-r .detail-t {
          font-size: 17px;
          color: #333; }
          [data-dpr="2"] .main-content .content-wrap > .content-item > .content-r .detail-t {
            font-size: 34px; }
          [data-dpr="2.5"] .main-content .content-wrap > .content-item > .content-r .detail-t {
            font-size: 42.5px; }
          [data-dpr="2.75"] .main-content .content-wrap > .content-item > .content-r .detail-t {
            font-size: 46.75px; }
          [data-dpr="3"] .main-content .content-wrap > .content-item > .content-r .detail-t {
            font-size: 51px; }
          [data-dpr="4"] .main-content .content-wrap > .content-item > .content-r .detail-t {
            font-size: 68px; }
        .main-content .content-wrap > .content-item > .content-r .detail-m {
          display: -webkit-box;
          /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
          display: -moz-box;
          /* Firefox 17- */
          display: -webkit-flex;
          /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
          display: -moz-flex;
          /* Firefox 18+ */
          display: -ms-flexbox;
          /* IE 10 */
          display: flex;
          /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          -webkit-justify-content: space-between;
          justify-content: space-between;
          font-size: 13px;
          color: #333; }
          [data-dpr="2"] .main-content .content-wrap > .content-item > .content-r .detail-m {
            font-size: 26px; }
          [data-dpr="2.5"] .main-content .content-wrap > .content-item > .content-r .detail-m {
            font-size: 32.5px; }
          [data-dpr="2.75"] .main-content .content-wrap > .content-item > .content-r .detail-m {
            font-size: 35.75px; }
          [data-dpr="3"] .main-content .content-wrap > .content-item > .content-r .detail-m {
            font-size: 39px; }
          [data-dpr="4"] .main-content .content-wrap > .content-item > .content-r .detail-m {
            font-size: 52px; }
          .main-content .content-wrap > .content-item > .content-r .detail-m .salary-range {
            font-size: 16px;
            color: #00b38a; }
            [data-dpr="2"] .main-content .content-wrap > .content-item > .content-r .detail-m .salary-range {
              font-size: 32px; }
            [data-dpr="2.5"] .main-content .content-wrap > .content-item > .content-r .detail-m .salary-range {
              font-size: 40px; }
            [data-dpr="2.75"] .main-content .content-wrap > .content-item > .content-r .detail-m .salary-range {
              font-size: 44px; }
            [data-dpr="3"] .main-content .content-wrap > .content-item > .content-r .detail-m .salary-range {
              font-size: 48px; }
            [data-dpr="4"] .main-content .content-wrap > .content-item > .content-r .detail-m .salary-range {
              font-size: 64px; }
        .main-content .content-wrap > .content-item > .content-r .detail-b {
          font-size: 12px;
          color: #888; }
          [data-dpr="2"] .main-content .content-wrap > .content-item > .content-r .detail-b {
            font-size: 24px; }
          [data-dpr="2.5"] .main-content .content-wrap > .content-item > .content-r .detail-b {
            font-size: 30px; }
          [data-dpr="2.75"] .main-content .content-wrap > .content-item > .content-r .detail-b {
            font-size: 33px; }
          [data-dpr="3"] .main-content .content-wrap > .content-item > .content-r .detail-b {
            font-size: 36px; }
          [data-dpr="4"] .main-content .content-wrap > .content-item > .content-r .detail-b {
            font-size: 48px; }

/*# sourceMappingURL=index.css.map */
